body{
    background-color: #112B3C;
}

.container{
    border: 1.2px solid rgb(250, 248, 97);
    width: 550px;
    height: 670px;
    border-radius: 15px;
    margin-top: 3em;
    overflow-y:scroll;
}

.container::-webkit-scrollbar { width: 0 !important }

h3{
    font-size: 3em;
}

h4{
    font-size: 2em;
}
body{
    background-color: #112B3C;
    color: white;
 
}
#addNew{
    width: 100%;
    height: 69px;
    background-color: #F9FFA4;
    border-radius: 15px;
    color: black;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
.fa-circle-plus{
    color: #112B3C;
    margin-right: 1em;

}
.task-item{
    height: 130px;
    width: 93%;
    font-size: 22px;
    font-weight: 400;
    margin: auto;
    background-color: #F9FFA4;
    color: black;
    border-radius: 8px ;

}
.task-id{
    font-size: 26px;
    padding: 5px;

}
.options{
display: flex;
align-items: center;
/* justify-content: space-between; */
gap: 12px;
position: relative;
left: 16em;
bottom: 4.3em;
}
.fa-pen-to-square {
    color: rgb(20, 56, 20);
}
.fa-trash{
   color: rgb(183, 30, 30);
}